*.csv
!/src/archive/*.csv
!/src/resources/overall-price-signals.csv
!/src/regression/*.csv
*.vscode/
*.lp
*.DS_Store
Manifest.toml
Project.toml
/src/results/*
**pycache**
/src/regression/*.png
venv/
results/*/*.png
/src/post_processing/*
/src/notebooks/*
/src/NPV_IRR/*
results/*